<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Introduction to this guy's website">
    <title>This goes into the titlebar</title>
    <link rel="css/style.css" type="text/css"/>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    
    <h1>Top bandwith users</h1>
    <p>
    <ul>
      {% for user, bytes in users %}
        <li>{{ user }}: {{ humanize(bytes) }}</li>
      {% endfor %}
    </ul>
    
    <h1>Top urls</h1>
    <ul>
      {% for url, hits in urls %}
        <li><a href="http://enos.itcollege.ee/"{{ url }}>{{ url }}</a></li>
    </ul>
    </p>
  </body>
</html>
